<%- include('partials/header') %>


<div>
    <div class="container">
        <i class="fas fa-futbol fa-9x"></i>
        <h1 class="display-3">Football Cliche Generator</h1>
        <p class="lead">That's the magic of the cup</p>
        <hr>
        <a class="btn btn-light btn-lg" role="button"></a>

    </div>
</div>

<%- include('partials/footer') %>
